body html {
    padding: 0%;
    margin: 0;
}

.list-content img {
    width: 60px;
    height: 60px;
} 
img {
    max-width: 100%;
    max-height: 100%;
}

.list-content {
    display: flex;
    margin: 10% 5%;    
}

hr {
    width: 80%;
}
.hero-bigcard {
    display: flex;
    margin: 10% 5%;
    align-items: center;
    flex-direction: column;
}

.bigcard-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.main-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main-list-content {
    display: flex;
}

.main-list-image {
    width: 250px;
    padding-right: 10px;
    margin: 10px;
}

.submain {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
}

.main-popular {
    display: flex;
    flex-direction: column;
}

.main-popular-content {
    display: flex;
}

.main-popular-content span{
    font-size: 2em;
    padding: 5px 10px 0 0;
}
.post {
    display: flex;
    justify-content: center;
    width: 60%;
    align-self: center;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.para {
    font-size: 1.8rem;
    font-weight: 200;
    text-indent: 3rem;
}

.form {
    width: 40%;
}

.nav-name {
    margin: 0;
}
.newUser {
    padding-top: 10px;
}

@media screen and (max-width: 994px) {
    .hero-center {
        display: none;
    }

    .bigcard-content {
        display: flex;
        width: 100%;
    }
    .form {
        width: 80%;
    }
   
}



@media screen and (max-width: 400px) {
    .App {
        display: flex;
        flex-direction: column;
        width: 125%;
    }
}
