body html {
    padding: 0%;
    margin: 0;
}

.list-content img {
    width: 60px;
    height: 60px;
} 
img {
    max-width: 100%;
    max-height: 100%;
}

.list-content {
    display: flex;
    margin: 10% 5%;    
}

hr {
    width: 80%;
}
.hero-bigcard {
    display: flex;
    margin: 10% 5%;
    align-items: center;
    flex-direction: column;
}

.bigcard-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.main-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main-list-content {
    display: flex;
}

.main-list-image {
    width: 250px;
    padding-right: 10px;
    margin: 10px;
}

.submain {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
}

.main-popular {
    display: flex;
    flex-direction: column;
}

.main-popular-content {
    display: flex;
}

.main-popular-content span{
    font-size: 2em;
    padding: 5px 10px 0 0;
}
.post {
    display: flex;
    justify-content: center;
    width: 80%;
    align-self: center;
}
.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
} 

/* .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.para {
    width: 85%;
    font-size: 1.8rem;
    font-weight: 200;
    text-indent: 3rem;
}

.list-content img {
    margin-right: 7px;
}

.float-btns{
    padding-bottom: 5px;
}

@media screen and (max-width: 854px) {
    .para {
        width: 90%;
        font-size: 1.2rem;
        font-weight: 200;
        text-indent: 3rem;
    }

    .title h2{
        font-weight: 300;
        font-size: 1.56rem;
        line-height: 100%;
        margin: 1.373333rem 0 1.424rem 0;
    }
}

.form {
    width: 40%;
}

.nav-name {
    margin: 0;
}
.newUser {
    padding-top: 10px;
}

@media screen and (max-width: 994px) {
    .hero-center {
        display: none;
    }

    .bigcard-content {
        display: flex;
        width: 100%;
    }
    .form {
        width: 80%;
    }
   
}

.main-list-title {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 400px) {
    .main-h6 {
        font-size: 1rem;
    line-height: 100%;
    }
    .submain h2 {
        font-size: 1.8rem;
    }

    .submain h5 {
        font-size: 1.2rem;
    }

    .para {
        width: 100%;
        font-size: 1rem;
        font-weight: 300;
        text-indent: 3rem;
    }

    .App {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    } 
}
